services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: ${MONGODB_URI}
      REDIS_HOST: redis
      JWT_SECRET: ${JWT_SECRET}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      GEMINI_API_KEY: ${GEMINI_API_KEY}

    depends_on:
      - redis

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend

  redis:
    image: redis:7
    
  redis-insight:
    image: redislabs/redisinsight:latest
    depends_on:
      - redis
